/* header section */
.header{
    position: fixed;
    background: #ffffff;
    left: 0;
    right: 0;
    top: 0;
  }
  .header .navBar{
    position: relative;
    margin: auto;
    padding: 15px;
  }
  .header .navBar #logo{
    width: 187px;
    position: absolute;
    top: -10px;
    left: 3.5rem;
  
  }
  .navMenu{
    position: fixed;
    padding: 2rem;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    color: #FCB712;
    background-color: #313131;
    display: flex;
    flex-direction: column;
    transition: 1s all ease;
    /* transform: translateX(1000px); */
  }
  .navMenu .menuList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navMenu .menuList .menuItem{
    margin: 20px 0;
    list-style: none;
  }
  .header .navMenu .close{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
  .header .navBar button , .header .navMenu button{
    background-color: #FCB712;
    border: none;
    border-radius: 0 30px 30px 0;
    padding: 5px 10px;
    cursor: pointer;
  }
  .header .navBar button img, .header .navMenu button img{
    width: 20px;
    margin-top: 2px;
  }
  .header .navBar .search , .header .navMenu .search{
    display: flex;
    justify-content: end;
    position: relative;
    padding-top: 3px;
  }
  
  .header .navBar .search .hamberger{
    display: none;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 8px;
    height: 20px;
    justify-content: space-between;
    /* height: ; */
  }
  .header .navBar .search .hamberger span{
    width: 20px;
    height: 2px;
    background-color: #FCB712;
    margin-top: 4px;
  }
  .header .navBar .search input , .header .navMenu .search input{
  color: #777;
  border: none;
  padding: 10px;
  background-color: #e3e3e3;
  border-radius: 30px 0 0 30px;
  }
  .header .navBar .navList{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
  }
  .header .navBar .navList .navItem{
    margin-left: 10px;
  }