.kenko{
    width: 100%;
}
img{
    width: 100%;
    height: auto;
}
.hi-pro{
    width: 100%; 
    height: auto;
}
.pro1{
    width: 60%;
    margin: 0 auto;
}
.imgpro{
    width: 50%;
    float: right;
}
.pro1 ul{
    font-size: larg;
}
.site{
    margin-left: 1rem;
    margin-top: 1rem;
    width: 26rem;
    padding-bottom: 0.4rem;
    border-radius: 5rem;
    height: auto;
    text-align: center;
    background-color: rgb(84, 84, 84);
    font-size: larger;
}
.brown{
    width: 100%;
    height: auto;
    margin-top: 5rem;
    padding: 3rem;
    background-color: orange;
    overflow: hidden;
}
.brownsub{
    width: 60%;
    margin: auto;
    font-size: larger;
}
.Pro1sub{
    width: 60%;
    margin: auto;
    font-size: larger;
}
.site1{
    width: auto;
    padding-bottom: 0.4rem;
    border-radius: 26rem;
    height: auto;
    text-align: center;
    background-color: white;
}